* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #2b1f13e8;
    height: 900hv;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do header */

header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: #000;
    padding: 20px 4%;
    z-index: 3;

}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 35px;
}

header .menu-desktop nav ul {
    list-style: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.menu-desktop nav a:hover {
    transform: scale(1.10);
    transform: 0.5s;
}

header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

header .btn-contato button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo do hero */

section.hero-site {
    height: 100vh;
    background-image: url(../images/copos-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #fff;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.hero-site button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo das vantagens */

section.vantagens {
    padding: 80px 0;
}

.vantagens .itens-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-conteiner .img-itens img {
    max-width: 420px;
    border-radius: 30px;
}

.vantagens .itens-conteiner .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.vantagens .itens-conteiner .txt-itens p {
    color: #fff;
}

.itens-conteiner .txt-itens h3 span {
    font-weight: 300;
}

/* Estilo dos botões de contato */

.contato {
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato,
.icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;

}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i {
    font-size: 20px;

}

.contato .icons-contato button:hover {
    background-color: #000;
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
    color: #fff;
}

/* Estilo sessão cafés */

section.cafes {
    height: 600px;
    background-image: url(../images/fundo-cafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
}

.cafes>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000049;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cafes>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.cafes h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.cafes h3 span {
    display: block;
    font-weight: 600;
}

.cafes p {
    margin: 20px 0;
}

.cafes button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 230px;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .5s;
    color: #fff;
}

.cafes a {
    text-decoration: none;
}

.cafes button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo da sessão mais */

section.mais {
    padding: 80px 0;
}

.txt-mais,
.instru-mais {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.mais .txt-mais{
    position: sticky;
    top: 50%
}

.mais .txt-mais h3 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
    color: #fff;
}

.mais .txt-mais h3 span {
    display: block;
    font-weight: 700;
}

.instru-mais .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #fff;
    padding: 20px;
}

.instru-mais .instru-box img{
    max-width: 50px;
}

.instru-mais .instru-box h4{
    font-size: 1.5em;
    font-size: 800;
    margin-bottom: 10px;
    color: #fff;

}

.instru-mais .instru-box h4 span{
    font-weight: 300;
    
}

.instru-mais .instru-box p{
    line-height: 20px;
    color: #fff;
}

/* Estilo do Rodapé */

footer{
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
}

footer .top-footer button:hover{
    background-color: #fff;
    color: #000;  
}

footer .middle-footer{
margin: 10px 0;
}

footer .middle-footer a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

footer .bottom-footer{
border-top:  2px solid #fff;
}

footer .bottom-footer p{
    color: #fff;
    margin-top: 10px;
}

/* Estilo aba cardápio */
section.cardapio-top {
    height: 100vh;
    background-image: url(../images/fundo-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardapio-top .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.cardapio-top .txt-cardapio h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
}

.cardapio-top .txt-cardapio h1 span {
    display: block;
    font-weight: 800;
}

/* Estilo aba moka */
section.historia-top {
    height: 100vh;
    background-image: url(../images/caneca-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.historia-top .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.historia-top .txt-historia h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
}

.historia-top .txt-historia h1 span {
    display: block;
    font-weight: 800;
}

/* Estilo aba reservas */
section.reserva-site {
    height: 100vh;
    background-image: url(../images/reservas-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reserva-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.reserva-site .txt-reserva h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
}

.reserva-site .txt-reserva h1 span {
    display: block;
    font-weight: 800;
}

.reserva-site .txt-reserva p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #fff;
}

.reserva-site .txt-reserva p span {
    display: block;
}

.reserva-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.reserva-site button:hover {
    background-color: #fff;
    color: #000;
}
